.title-cards{
    margin:50px 0 10px;
}
.title-cards h2{
    margin-bottom: 30px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 240px;
    border-radius: 10px;
    cursor: pointer;
}
.card-list .card{
    position: relative;
}
.card-list p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .card-list img{
        width: 200px;
    }
    .title-cards h2{
        font-size: 24px;
    }
}