.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mask-image: linear-gradient(to right, transparent, hsl(0, 0%, 0%) 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, hsl(0, 0%, 0%) 75%);
}
.hero-caption{
    position: absolute;
    padding-left: 6%;
    bottom: 0;
    width: 100%;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    padding-bottom: 20px;
}
.hero-caption p{
    font-size: 17px;
    margin-bottom: 20px;
    max-width: 600px;
}
.hero-btns{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.hero-btns .btn img {
    width: 25px;
}
.hero-btns .btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    outline: none;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    background: hsl(0, 0%, 100%);
    cursor: pointer;
}
.hero-btns .btn.dark-btn{
    background: hsla(240, 0%, 43%, 0.702);
    color: hsl(0, 0%, 100%);
}
.hero-btns .btn:hover{
    background: hsla(0, 0%, 100%, 0.749);
}
.hero-btns .btn.dark-btn:hover{
    background: hsla(240, 0%, 43%, 0.749);
}
.more-cards{
    padding-left: 6%;
}

@media screen and (max-width: 1024px){
    .hero-caption .title-card{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .hero-caption{
        padding-left: 4%;
    }
    .hero-caption p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .caption-img{
        width: 80%;
        margin-bottom: 10px;
    }
    .hero-btns .btn{
        padding: 8px 15px;
        font-size: 14px;
    }
    .more-cards{
        padding-left: 4%;
    }
}