nav{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    font-size: 16px;
    color: hsl(0, 0%, 90%);
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
}
.navbar-left, .navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-left img{
    width: 100px;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    cursor: pointer;
}
.navbar-right .navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 5px;
    width: 35px;
}
nav .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background-color: hsl(0, 0%, 10%);
    border-radius: 5px;
    z-index: 1;
    padding: 10px;
    display: none;
}

.navbar-right .navbar-profile:hover .dropdown{
    display: block;
}
.dark-nav{
    background: hsl(0, 4%, 5%);
}

@media screen and (max-width: 800px){
    nav{
        padding: 20px 4%;
    }
    .navbar-left img{
        width: 80px;
    }
    nav ul{
        display: none;
    }
    .navbar-right .navbar-profile{
        gap: 0;
    }
    .navbar-right .profile{
        width: 30px;
    }
    nav .dropdown{
        top: 50px;
    }
}

@media screen and (max-width: 500px){
    .navbar-left img{
        width: 60px;
    }
    nav{
        padding: 20px 2%;
    }
    .navbar-right .profile{
        width: 25px;
    }
}