.footer{
    padding: 40px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}
.footer-icons img{
    width: 30px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0;
}
.footer ul li{
    cursor: pointer;
}
.copyright-text{
    color: hsl(0, 0%, 50%);
    font-size: 14px;
}

@media screen and (max-width: 768px){
    .footer ul{
        grid-template-columns: repeat(2, 1fr);
    }
}